body {
    font-family: Arial;
  }
  .headd{
    text-decoration: underline white wavy;
  }
  #mainImg {
    width: 35%;
  }
  
  .box {
    border: 0.25px solid black;
    background-color: lightgray;
    width: 200px;
    padding: 1rem;
  }
  .bluebg{
    background-color: darkblue;
  }
  .boxLink {
    text-decoration: none;
  }
  
  .oldImg {
    height: 200px;
    width: 200px;
    margin-right: 1rem;
  }
  
  #description {
    background-color: antiquewhite;
  }